ui_*.rb
*.yml
*.exe
ocratemp.iss
/logs
/docs/unorganized
/build
/armips
/cache
/ocra-1.3.6
/ocra-1.3.10
crashlog.txt
/gfx
/darkfunction_sprites
/spriter_skeletons
/wip
/asm/ftc
/dsvrandom
/DSVRandom Presets
